

/* CentrarContenedor.module.css */

.contenedorCentrado {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.text {
  width: 400px;
  height: 300px;
  font-size: 16px;
}

  @media (max-width: 890px) {
    .contenedorCentrado {
      flex-direction: column;
    }
}

@media (max-width: 440px) {
  .text {
    width: 200px;
  }
}
  
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según tus necesidades para ocupar toda la altura de la pantalla */
  }
  
  /* styles.module.css */

/* Variables de color */
:root {
  --c: #2196F3;
  --h: #FF4081;
}

/* Estilo común para botones */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

input{
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
  width: '3000px'; 
  height: '20px';
  font-size: '16px';
}

textarea{
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
  width: '3000px'; 
  height: '2000px';
  font-size: '16px';
}

